<launch>
  <arg name="groub_1" default="true" />

    <group if="$(arg groub_1)">

        <!-- stuff that will only be evaluated if groub_1 is true -->
            <node name="basic_simple_talker" pkg="light_robot" type="publisher.py" output="screen" >
            <remap from="/stringTopic" to="/stringTopicRemapped"/>
            
            </node>
            <node name="basic_simple_listener" pkg="light_robot" type="subscriber.py" output="screen"/>
            <!-- this publisher publish in topic /stringTopic i will remap it to /stringTopicRemapped -->
            <!-- now you will see two topics in rostopic list  /stringTopic , /stringTopicRemapped -->

            
            <!-- load param_1 with value 100 in rosparam server -->
            <param name="param_1" value="100"/>

    </group>
    <group unless="$(arg groub_1)">

        <!-- stuff that will only be evaluated if groub_1 is false -->
    <!-- here include other launch file  -->
    <include file="$(find light_robot)/launch/pubsub1.launch"/>
            
            <!-- load param_1 with value 100 in rosparam server -->
    <param name="param_1" value="10"/>

    </group>
</launch>
